*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:black;
    color: aliceblue;
  }
.container{
    padding: 50px;;
}

.section-one{
    background-color: black;
    color: azure;
    padding: 30px
}
.section-one__contact{
    background-color:rgb(174, 82, 1);
    color:aliceblue;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}



*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.container{
    padding: 50px;;
}


.section-one{
    background-color: black;
    color: white;
    padding: 30px;
    
}

.section-one__contact{
    background-color:rgb(184, 88, 4);
    color:aliceblue;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-five{
    margin-top: 20px;
}

.section-five__des{
    margin-top: 10px;
}
.section-five{
    background-color: black;
    color: aliceblue;
    padding: 20px;
}
.section-five__title a{
    color: aqua;
}
.contact-form{
    margin-top: 20px;
}

.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border: solid black 2px
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 2px

}
.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px ;
    padding-right: 20px;
    background-color: rgb(174, 82, 1);
    color:aliceblue;
    border: none;
}

.section-two__des,.section-three__des,.section-four__des,.section-five__des{
    margin-top: 10px;
}
.section-five{
    background-color: black;
    color: aliceblue;
    padding: 20px;
}
.section-five__title a{
    color: aqua;
}
.section-three__des li ,.section-four__des li{
    list-style: none;
}
.section-three{
    background-color: #2b17d9;
    display:inline-block;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
    vertical-align: top;
}
.section-four{
    background-color: #fe7517;
    display: inline-block;
    width: 1500px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    vertical-align: top;
}